                        <!-- Modal Inpud Edit Data -->
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary"></h6>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-title="TAMBAH DATA PESERTA" data-button="TAMBAH">TAMBAH DATA PESERTA</button>
                            
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel"></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="" method="post" id="form1" name="form1" autocomplete="off">
                                                <div class="row form-group">
                                                    <div class="col-md-12">
                                                        <label for="nama">NAMA LENGKAP</label>
                                                        <input type="text" id="nama" name="nama" class="form-control" autocomplete="off" style="text-transform: uppercase">
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-md-12">
                                                        <label for="gender">JENIS KELAMIN</label>
                                                        <select name="member_meta_values" id="gender" class="form-control">
                                                            <option value="" disabled selected></option>
                                                            <option value="LAKI-LAKI">LAKI-LAKI</option>
                                                            <option value="PEREMPUAN">PEREMPUAN</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-md-12">
                                                        <label for="desa">DESA</label>
                                                        <select id="desa" name="member_meta_values" class="form-control">
                                                            <option value="" disabled selected></option>
                                                            <option value="BANJARAN">BANJARAN</option>
                                                            <option value="BALEENDAH">BALEENDAH</option>
                                                            <option value="CIPARAY">CIPARAY</option>
                                                            <option value="MAJALAYA">MAJALAYA</option>
                                                            <option value="SAYATI">SAYATI</option>
                                                            <option value="SOREANG">SOREANG</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-md-12">
                                                        <label for="kelompok">KELOMPOK</label>
                                                        <select id="kelompok" name="kelompok" class="form-control">
                                                            <option value="" disabled selected></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                
                                                <div class="row form-group">
                                                    <div class="col-md-12">
                                                        <label for="pendidikan">JENJANG PENDIDIKAN</label>
                                                        <select name="pendidikan" id="pendidikan" class="form-control">
                                                            <option value="" disabled selected></option>
                                                            <option value="SMP">SMP</option>
                                                            <option value="SMA">SMA</option>
                                                            <option value="SMK">SMK</option>
                                                            <option value="KULIAH">KULIAH</option>
                                                            <option value="LULUS/KERJA">LULUS/KERJA</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-md-12">
                                                        <label for="kelas">KELAS/TINGKATAN</label>
                                                        <select name="kelas" id="kelas" class="form-control">
                                                            <option value="" disabled selected></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        <label for="ttl">TANGGAL LAHIR</label>
                                                        <select name="ttl" id="ttl-tgl" class="form-control">
                                                            <option value="" disabled selected></option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>
                                                            <option value="7">7</option>
                                                            <option value="8">8</option>
                                                            <option value="9">9</option>
                                                            <option value="10">10</option>
                                                            <option value="11">11</option>
                                                            <option value="12">12</option>
                                                            <option value="13">13</option>
                                                            <option value="14">14</option>
                                                            <option value="15">15</option>
                                                            <option value="16">16</option>
                                                            <option value="17">17</option>
                                                            <option value="18">18</option>
                                                            <option value="19">19</option>
                                                            <option value="20">20</option>
                                                            <option value="21">21</option>
                                                            <option value="22">22</option>
                                                            <option value="23">23</option>
                                                            <option value="24">24</option>
                                                            <option value="25">25</option>
                                                            <option value="26">26</option>
                                                            <option value="27">27</option>
                                                            <option value="28">28</option>
                                                            <option value="29">29</option>
                                                            <option value="30">30</option>
                                                            <option value="31">31</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label for="ttl">BULAN LAHIR</label>
                                                        <select name="ttl" id="ttl-bulan" class="form-control">
                                                            <option value="" disabled selected></option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>
                                                            <option value="7">7</option>
                                                            <option value="8">8</option>
                                                            <option value="9">9</option>
                                                            <option value="10">10</option>
                                                            <option value="11">11</option>
                                                            <option value="12">12</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label for="ttl">TAHUN LAHIR</label>
                                                        <input type="text" id="ttl-tahun" name="ttl" class="form-control" autocomplete="off">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">TUTUP</button>
                                                    <button type="button" class="btn btn-primary"></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </div>
                        <!-- End Modal Inpud Edit Data -->