<%- include('../../templates/header') %>

<body class="bg-gradient-primary">
  <div class="container" >
    <!-- Outer Row -->
    <div class="row justify-content-center animate-box" data-animate-effect="fadeInUp">
      <div class="col-lg-12">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            
            <!-- Nested Row within Card Body -->
            <div id="presence" class="row">
              <div class="col-lg">
                <div class="p-5">
                  <div class="text-center" >
                    <h1 class="mb-4 font-size: 120px" style="font-size:59px; font-family:Kaushan Script" >
                      Silahkan Masukkan Nama Anda
                    </h1>
                  </div>
                  <form class="user">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-user text-left"
                        id="name"
                        placeholder="MASUKKAN NAMA ANDA"
                        style="text-transform: uppercase;"
                      />
                        <ul class="list-group" id="result">
                            <li class="list-group-item link-class presence-item">
                              BAGUS SENO PAMUNGKAS
                              <span class="audience-info">LAKI-LAKI</span>
                              <span class="audience-info">SOREANG</span>
                              <span class="audience-info">WARLOB 1</span>
                            </li>
                            <li class="list-group-item link-class presence-item">
                              ABU ABDIROHMAN
                              <span class="audience-info">LAKI-LAKI</span>
                              <span class="audience-info">SOREANG</span>
                              <span class="audience-info">WARLOB 1</span>
                            </li>
                        </ul>
                        </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- End Nested Row within Card Body -->
            
            <hr class="sidebar-divider my-0 ">
            
            <!-- Nested Row within Card Body -->
            <div id="register" class="row" style="display:none">
              <div class="col-lg">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="mb-4 font-size: 120px" style="font-size:59px; font-family:Kaushan Script">
                      Silakan Lengkapi Form nya
                    </h1>
                  </div>
                  <form action="" method="post" id="form1" name="form1" autocomplete="off">
                  
                    <div class="row form-group">
                      <div class="col-md-12">
                        <label for="nama">NAMA LENGKAP</label>
                        <input type="text" id="nama" name="nama" class="form-control" autocomplete="off">
                      </div>
                    </div>
                    <div class="row form-group">
                      <div class="col-md-12">
                        <label for="gender">JENIS KELAMIN</label>
                        <select name="gender" id="gender" class="form-control">
                          <option value="LK">LAKI-LAKI</option>
                          <option value="PR">PEREMPUAN</option>
                        </select>
                      </div>
                    </div>
                    <div class="row form-group">
                      <div class="col-md-12">
                        <label for="desa">DESA</label>
                        <select id="desa" name="desa" onchange="tampilkan()" class="form-control">
                          <option value=""></option>
                          <option value="Banjaran">BANJARAN</option>
                          <option value="Baleendah">BALEENDAH</option>
                          <option value="Ciparay">CIPARAY</option>
                          <option value="Majalaya">MAJALAYA</option>
                          <option value="Sayati">SAYATI</option>
                          <option value="Soreang">SOREANG</option>
                        </select>
                      </div>
                    </div>
                    <div class="row form-group">
                      <div class="col-md-12">
                        <label for="kelompok">KELOMPOK</label>
                        <select id="kelompok" name="kelompok" class="form-control"></select>
                        <!--<input type="text" id="alamat" name="alamat" class="form-control">-->
                      </div>
                    </div>
                    
                    <div class="row form-group">
                      <div class="col-md-12">
                        <label for="pendidikan">JENJANG PENDIDIKAN</label>
                        <select name="pendidikan" id="pendidikan" class="form-control">
                          <option value="SMP">SMP</option>
                          <option value="SMA">SMA</option>
                          <option value="SMK">SMK</option>
                          <option value="SMP">KULIAH</option>
                          <option value="SMA">LULUS/KERJA</option>
                        </select>
                      </div>
                    </div>
                    <div class="row form-group">
                      <div class="col-md-12">
                        <label for="kelas">KELAS/TINGKATAN</label>
                        <select name="kelas" id="kelas" class="form-control">
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
                          <option value="11">11</option>
                          <option value="12">12</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="LULUS/KERJA">LULUS/KERJA</option>
                        </select>
                      </div>
                    </div>
                    <div class="row form-group">
                      <div class="col-md-12">
                        <label for="ttl">TANGGAL LAHIR</label>
                        <input type="text" id="ttl" name="ttl" class="form-control" autocomplete="off">
                      </div>
                    </div>
                    <div class="row form-group">
                      <div class="col-md-12">
                        <label for="umur">UMUR</label>
                        <input type="text" id="umur" name="umur" class="form-control" autocomplete="off">
                      </div>
                    </div>
                  
                    
                    <div class="row form-group">
                      <div class="col-md-12">
                        <!--<input type="submit" name="register" class="btn btn-primary btn-block" value="Submit">-->
                        <button type="submit" name="submit" class="btn btn-primary btn-user btn-block text-center">SUBMIT</button>
                        <button type="submit" name="submit" id="cancel" class="btn btn-primary btn-user btn-block text-center" style="border-color:#e74a3b; background: #e74a3b!important
                        ">CANCEL</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- End Nested Row within Card Body -->

          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('../../templates/footer') %>
  <script src="<%= config.hostname %>/assets/js/presence.js"></script>
</body>
