<form action='' method='POST' enctype="multipart/form-data">
    <input type='hidden' name='action' value='upload_audience_csv'/>
    <input type='text' name='audience_meta_indexes_order'/>
    <input type='file' name='audience_csv_data'/>
    <input type='submit'/>
</form>